body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: darkblue;
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #333;
}
nav {
    background-color: darkblue;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 220px;
    margin: 10px;
    border-radius: 10px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 220px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.photo-card {
    text-align: center;
    margin: 15px;
}

.photo-card img {
    width: 220px;
    border-radius: 10px;
}

button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
img {
    width: 120px;
    height: auto;
}
